body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.red-marker {
  filter: hue-rotate(0deg) brightness(0.9);
}

.orange-marker {
  filter: hue-rotate(40deg) brightness(1.1);
}

.green-marker {
  filter: hue-rotate(120deg) brightness(1.1);
}
