body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e293b;
    position: fixed;
    padding: 20px;
}

.sidebar h2 {
    color: #38bdf8;
}

.sidebar a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    color: #38bdf8;
}

.main {
    margin-left: 240px;
    padding: 30px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

#map {
    height: 500px;
    border-radius: 10px;
}

.voice-box {
    margin-top: 30px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}